<header id="header" class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide mdui-appbar-inset">
  <div class="mdui-toolbar mdui-color-theme">
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#sidebar', swipe: true}"><i class="mdui-icon material-icons" translate="no">menu</i></a>
    <a href="<%- url_for() %>" class="mdui-typo-headline"><%= config.title %></a>
    <div class="mdui-toolbar-spacer"></div>
    
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-dialog="{target: '#search'}" mdui-tooltip="{content: '<%= __('search') %>'}"><i class="mdui-icon material-icons" translate="no">search</i></a>
    <!-- Open RSS Feed --><!--
    <% if (theme.rss) { %><a href="<%- url_for(theme.rss) %>" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '<%= __('rss_feed') %>'}"><i class="mdui-icon material-icons" translate="no">rss_feed</i></a><% } %> -->
    <!-- Copy RSS Feed To Clipboard -->
    <% if (theme.rss) { %>
      <a href="javascript:void(0);" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '<%= __('rss_feed') %>'}" onclick="copyRssToClipboard('<%- config.url %><%- url_for(theme.rss) %>')">
        <i class="mdui-icon material-icons" translate="no">rss_feed</i>
      </a>
      <script>
        function copyRssToClipboard(text) {
          navigator.clipboard.writeText(text).then(function() {
            mdui.snackbar({
              message: '已将RSS订阅链接复制到剪贴板!',
              position: 'right-top',
              buttonText: '好',
            });
          }, function(err) {
            console.error('Could not copy text: ', err);
            mdu.snackbar({
              message: '复制RSS订阅链接失败!',
              position: 'right-top',
            });
          });
        }
      </script>
      <% } %>
  </div>
</header>
<div class="mdui-dialog" id="search">
  <% if (theme.search.use === 'plugin') { %>
    <div class="search-form">
      <input type="search"  id="search-input" name="search" class="search-form-input" placeholder="<%= theme.search.placeholder %>">
    </div>
    <div class="search-result" data-resource="<%- url_for(theme.search.path) %>"></div>
    
  <% } else { %>
    <%- search_form({class: 'search-form', text: theme.search.placeholder, button: false}) %>
    <div class="search-result"></div>
  <% } %>
</div>
